 /* .kutu{
    background-color: rgb(214, 214, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}


.content_btn{

    display: flex;
    justify-content: end;
}
.header{
    text-transform: uppercase;
    background-color: rgb(185, 199, 241);
}

.container{
    display: flex;
    justify-content: end;
    background-color: brown;
}  */
.containers{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.cart{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(191, 245, 156);
    border-radius: 5px;
    overflow: hidden;
    width: 500px;
    margin-bottom: 20px;
}
.cart .resim{
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 0);
}
.cart .content{
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    padding: 10px;
}

.cart .content .str{
    display: flex;
}
.cart .content .str .text{
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-left: 5px;
    background-color: rgb(167, 212, 136);
    text-align:left;
    text-transform:capitalize;
    margin: 5px;
}
.cart .content .str .text.desc{
    height: 150px;
    overflow:scroll;
}
.cart .content .str .label{
    margin: 5px;
    width: 250px;
    /* background-color: rgb(135, 173, 110); */
    display: block;
    width: 150px;
}
.cart .btn{
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    padding: 10px;
    width: 100%;
    /* background-color: darkblue; */
}

.cart .btn button{
    background-color: rgb(87, 168, 101);
    color: rgb(249, 250, 249);
}